
.page{
    display: flex;

}

#container{
    height: 800px;
    width: 916px;
    border: 10px solid blue;
}

.grid{
    background-color: pink;
    
    width: 100%;
    display: flex;
   
    
}

.rows{
    background-color: grey;
    border: solid 1px red;
    height: 100%;
    
    display: flex;
    box-sizing: border-box;
}

