
.page{
    display: flex;

}

.board{
    height: 800px;
    width: 916px;
    border: 10px solid blue;
}

.grid{
    background-color: pink;
    height: 50px;
    width: 916px;
    display: flex;
   
    
}

.rows{
    background-color: grey;
    border: solid 1px red;
    height: 100%;
    width: 6.25%;
    display: flex;
}

